{% block %}
    {% client %}(welche sprachen sind verfügbar|sprachen|sprachmöglichkeiten|sprach möglichkeiten){% endclient %}
    {% response %}{% call language_list: 0 %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(wähle sprache|nutze sprache|sprache) (?P<language>.*){% endclient %}
    {% response %}{% call switch_language: %language %}{% endresponse %}
{% endblock %}