{% block %}
    {% client %}({{intent.language.language_list}}){% endclient %}
    {% response %}{% call language_list: 0 %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}({{intent.language.language_choose}}) (?P<language>.*){% endclient %}
    {% response %}{% call switch_language: %language %}{% endresponse %}
{% endblock %}