{% block %}
    {% client %}({{intent.password.password}}}}) (?P<entry>.*){% endclient %}
    {% response %}{% call getPassword: %entry %}{% endresponse %}
{% endblock %}
{% block %}
    {% client %}({{intent.password.user}}) (?P<entry>.*){% endclient %}
    {% response %}{% call getUsername: %entry %}{% endresponse %}
{% endblock %}