{% block %}
    {% client %}({{intent.smarthome.add_device}}){% endclient %}
    {% response %}{% call add_smart_device: 0 %}{% endresponse %}
{% endblock %}
{% block %}
    {% client %}({{intent.smarthome.control_device}}){% endclient %}
    {% response %}{% call smarthome: %switch | %state %}{% endresponse %}
{% endblock %}