{% block %}
    {% client %}({{intent.time.gettime_place}}) (?P<place>.*){% endclient %}
    {% response %}{% call gettimeplace: %place %}{% endresponse %}
{% endblock %}
{% block %}
    {% client %}({{intent.time.gettime}}){% endclient %}
    {% response %}{% call gettime: 0 %}{% endresponse %}
{% endblock %}